<div id="abc"></div>
<div id="dfg" style="width: 100px;margin-left: 500px"></div>
<div id="abcd"></div>
<script>
Ext.onReady(function() {
    Ext.QuickTips.init();

    var store = new Ext.data.JsonStore({
        url: 'users.json',
        fields: [
            'id',
            'name',
            'email',
            'login'
        ]
    });
    store.load();

    // add your data store here
    var grid = new Ext.grid.EditorGridPanel({
        xtype: 'actioncolumn',
        id: 'myGrid',
        renderTo: Ext.get("abc"),
        frame: true,
        title: 'Movie Database',
        height: 200,
        width: 600,
        store: store,
        tbar: [{
            xtype: 'button',
            text: 'Create',
            handler: function() {
                movie_form.show();
            }
        }],
        columns: [
            { id: 'id', dataIndex: 'id' },
            { header: "Name", dataIndex: 'name' },
            { header: "Email", dataIndex: 'email' },
            { header: "Login", dataIndex: 'login' },
            {
                header: "Action",
                width: 150,
                xtype: 'actioncolumn',
                // dataIndex: 'action',
                items: [{
                    icon: 'message.png',
                    tooltip: 'show',
                    handler: function() {
                        var sm = grid.getSelectionModel();
                        if (sm.hasSelection()) {
                            var sel = sm.selection;
                            var a = sel.record.data.name;
                            var c = sel.record.data.login;
                            var b = sel.record.data.email;
                            Ext.Msg.alert('User', "Name: " + a + "  Email: " + b + "   Login: " + c);
                        } else {
                            Ext.Msg.alert('Error', 'Error');
                        }
                    }

                }, {
                    icon: 'gear.png',
                    tooltip: 'edit',
                    handler: function(grid, rowIndex, colIndex, item, e, record) {
                        movie_form.show();
                    }
                }, {
                    icon: 'plaster.png',
                    tooltip: 'delete',
                    handler: function() {
                        var sm = grid.getSelectionModel();
                        var sel = sm.selection;

                        Ext.Ajax.request({
                            url: '/users/' + sel.record.data.id,
                            method: 'DELETE',
                            success: function() {

                                store.reload();
                            }
                        });
                    }
                }]
            }
        ]
    });
});
</script>
<script src="/js/form.js"></script>